version: '3'

volumes:
  dbdata:
    driver: local

services:
  db:
    volumes:
      - dbdata:/var/lib/postgresql/data:rw
    ports:
      - 5432:5432

  web:
    volumes:
      - .:/var/www/app
    ports:
      - 3000:3000
    command:
      - bin/rails
      - server
      - --port
      - '3000'
      - --binding
      - 0.0.0.0
    environment:
      DB_HOST: db
      DB_USER: postgres
