/* vermelho da3546 */
/* azul eff7fc*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1.5;
  color: black;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

.red_form { color: #f00; }

body{
  font-family: helvetica;
  background-color: #eff7fc;
}

a {
  font-size: 14px;
  color: #da3546;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
  color: #da3546;
}

.hidden {
  display: none;
}

.clear { clear: both; }

#main{
  background: url('/images/bg.png') repeat-x;
  width: 100%;
}

#main_inner{
  background: url('/images/bg2.png') repeat-x;
  width: 100%;
  min-height:190px;
}

.container{
  width: 960px;
  margin: 0 auto;
}

#menu{
  background: url('/images/menu.png') ;
  height: 70px;
  position: relative;
  top: 25px;
}

ul#menu_top{
  position: relative;
  top: 30px;
  right: 50px;
  float: right;
  margin-right: 40px;
}

#menu_top li {
  display: inline;
}

ul#menu_top li a{
  color:#da3546;
  font-weight: bold;
  display:block;
  float: left;
  margin-right: 25px;
  text-decoration: none;
}

ul#menu_top li a:hover{
  color: #eff7fc;
}

#pic{
  background: url('/images/showcase_frame.png') no-repeat;
  height: 403px;
  margin-top: 90px;
  position:relative;
}

#pic .showcase img {
  position: absolute;
  left: 15px;
  top: 33px;
  z-index: 50;
  width: 496px;
  height: 346px;
  overflow: hidden;
}

.showcase {
  float:left;
}

#intro{
  left:90px;
  position:absolute;
  top:-30px;
  float: left;
  z-index: 100;
}

#intro p{
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
}

#intro p strong{
  font-size: 18px;
  font-weight: bold;
  color: #111111;
  display: block;
  margin-bottom: 4px;
}

#breadcrumb{
  background:url('/images/breadcrumb.png') repeat scroll 0 0 transparent;
  height:70px;
  position:relative;
  top:33px;
}

#create{
  bottom:16px;
  float:right;
  position:relative;
  right:83px;
}

#howto{
  background:url("/images/howto.png") repeat scroll 0 0 transparent;
  float:right;
  left: 10px;
  top: 10px;
  min-height:197px;
  position:relative;
  width:388px;
}

#twitter{
  background:url("/images/twitter.png") repeat scroll 0 0 transparent;
  float:right;
  margin-top: -125px;
  height:152px;
  padding:10px 5px;
  position:relative;
  width:347px;
}

#twitter a, #twitter a:hover {
  font-size: 12px;
  color: #DA3546;
  background-color: white;
}

#twitter_status {
  margin: 25px 5px 0;
  font-size: 12px;
  width: 60%;
}

.tweet_list .tweet_time {
  position: absolute;
  bottom: 45px;
  left: 10px;
}

#most_recent_events{
  float: left;
  margin-right:40px;
}

#most_recent_events p strong,
#most_recent_comments p strong{
  font-size: 12px;
  color: #da3546;
  font-weight: bold;
}

.event{
  background: #fff;
  border-radius: 10px;
  width: 578px;
  height: 115px;
  padding: 20px;
  position: relative;
}

.event + .event {
  margin-top: 20px;
}

.head{
  margin-bottom: 40px;
}

#comments{
  background:url("/images/black.png") repeat scroll 0 0 transparent;
  float:right;
  height:403px;
  width: 262px;
  padding: 20px;
}

.event p strong{
  font-weight: bold;
  color: #da3546;
  font-size: 15px !important;
}

.event p{
  color: #111111;
  font-size: 14px;
}

.more{
  position: relative;
  top: 5px;
  cursor: pointer;
  cursor: hand;
  margin-right: 10px;
}

.event a{
  font-size: 14px;
  color: #da3546;
}

.event a:link, .event a:visited{
  text-decoration: none;
}

.event a:hover, .event a:active{
  text-decoration: underline;
  color: #da3546;
  background-color: #ffffff;
}

.buttons{
  position:absolute;
  top:95px;
}

.buttons a {
  margin-right: 15px;
}

.buttons iframe {
  position: relative;
  top: 5px;
  padding-right: 5px;
}

#content{
  margin: 80px 0 20px;
  overflow: hidden;
}

.borda_vinho{
  border: 5px solid #b24450;
}

.comment p{
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
}

.comment p small{
  font-size: 9px;
  font-weight: bold;
  color: #da3546;
}

.comment div{
  float: left;
}

.comment_pic{
  margin-right: 10px;
}

.comment{
  margin-top: 15px;
  overflow: hidden;
}

.all{
  float: right;
  font-weight: bold;
  font-size: 12px;
  color: #da3546 !important;
  margin-top: 20px;
}

.all:hover, .all:active {
  text-decoration: underline;
}

.prop_link{
  margin-top: 40px;
  font-size: 12px;
  color: #da3546;
  text-align: center;
}
.prop_link span{
  color: #111111;
}

#footer{
  background: url('/images/bg_footer.png');
  height: 273px;
  clear: both;
}

.fancy_login {
  border-bottom: 2px dotted #da3546;
  padding-bottom: 2px;
}

#login_services {
  margin: 10px 0;
}
#login_services li {
  margin: 10px 0;
}

#footer_cols{
  padding-top:28px;
  font-size: 11px;
  color: #ffffff;
}

.footer_a{
  float: left;
  width: 320px;
}

.footer_a a {
  color: white;
  font-size: 11px;
}

#copyright{
  text-align: center;
  font-size: 10px;
  color: #ffffff;
  background-color: #111;
}

#copyright strong{
  font-weight: bold;
}

#proposal{
  background: #191817;
  border-radius: 10px;
  margin-bottom:20px;
  margin-top:20px;
  padding:10px;
  position:relative;
  width:281px;
}

#profile{
  background:url("/images/comments_black.png") repeat scroll 0 0 transparent;
  height:142px;
  margin-bottom:20px;
  margin-top:20px;
  padding:10px;
  position:relative;
  width:281px;
}

#proposal_list{
  left:20px;
  margin-top:67px;
  padding:19px;
  position:relative;
  float: left;
}

.admin_area {
  margin: 10px 10px 20px;
  padding: 10px;
  background-color: white;
}

.logo{
  margin-bottom: 20px;
  border: 5px solid #b24450;
  position: relative;
  top: 18px;
  left: 34px;
}

.linha{
  margin-top: 30px;
  margin-left: 25px;
}

#proposal p{
  font-size: 12px;
  color: #ffffff;
  margin-left: 35px;
}

#proposal p strong{
  font-weight: bold;
  color: #da3546;
  font-size: 14px;
}

.prop{
  background: #fff;
  border-radius: 10px;
  margin-bottom:10px;
  padding: 20px 20px 120px 20px;
  width:581px;
  position: relative;
}

.prop p strong, .sub_vote, .sub_add_prop{
  font-weight: bold;
  color: #da3546;
  font-size: 12px;
}

.prop p{
  color: #111111;
  font-size: 14px;
}

.prop_sub{
  position: absolute;
  bottom: 20px;
}

.prop_sub img{
  border: 5px solid #b24450;
}

.prop_sub small{
  color: #da3546;
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-right:200px;
  width: 230px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.prop_sub a:link, .prop_sub a:visited{
  font-size: 12px;
  color: #da3546;
  text-decoration: none;
}

.prop_sub a:hover, .prop_sub a:active{
  text-decoration: underline;
  color: #da3546;
  background-color: #ffffff;
}

a.prop_link:link, a.prop_link:visited{
  color: #da3546;
  text-decoration: none;
  font-size: 14px;
}

a.prop_link:hover, a.prop_link:active{
  text-decoration: underline;
  background-color: #ffffff;
}

.thumb{
  border: 0 !important;
}

.thumb_p{
  display: inline-block;
  position: relative;
  right: 5px;
}

.organizer{
  border: 3px solid #B24450;
}

#left_bar{
  float:left;
  margin-bottom:20px;
  margin-top:80px;
}

#events{
  clear: both;
}

.event_listed {
  background:url("/images/event_big_bg.png") repeat scroll 0 0 transparent;
  width: 960px;
  height: 133px;
  margin-bottom: 20px;
}

.event_listed p {
  font-size: 12px;
}

.event_listed h1 a {
  color: #DA3546;
}
.event_listed h1 a:hover {
  background-color: white;
}

.event_listed h1 {
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 19px;
}

.event_status {
  color: #414141;
  float: right;
  padding: 15px 15px 0 0;
}

.event_desc {
  width: 30%;
  float: left;

}

.event_status span {
  font-size: 4.5em;
  font-weight: bold;
  letter-spacing: -2px;
  width: 10px;
  margin-right: -5px;
  margin-left: 15px;
}

#events_list {
  margin-top:67px;
  position:relative;
  float: left;
}

#events_list .create_button {
  float:right;
  margin-bottom: 15px;
}

.logo_small {
  width: 90px;
  height: 87px;

  border: 5px solid #B24450;
  float: left;
  margin: 20px;
}


.comments_list{
  background:url("/images/comment_it.png") repeat scroll 0 0 transparent;
  left:69px;
  margin-bottom:10px;
  min-height:110px;
  position:relative;
  width:512px;
  padding: 20px;
}

.comments_list p{
  font-size: 14px;
  color: #111111;
}

.comments_list img{
  border: 5px solid #b24450;
  float: left;
  margin-right: 10px;
}

.comments_list p small{
  font-size: 12px;
  color: #da3546;
  font-weight: bold;
}

.comments_list p spam{
  font-size: 12px;
  color: #da3546;
}

#comment_new form .field textarea{
  border:2px solid #111111;
  height:50px;
  padding:3px;
  width:427px;
}

#comment_new{
  background:url("/images/comment_it.png") repeat scroll 0 0 transparent;
  padding: 20px;
  margin-bottom: 10px;
  width: 512px;
  position: relative;
  min-height: 110px;
  left: 69px;
}

#new_item h1 {
  font-size: 32px;
  letter-spacing: -2px;
  font-weight: bold;
  margin-bottom: 20px;
}
#new_item h2 {
  font-size: 14px;
}

#new_item h3 {
  color: #da3546;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

#new_item .title {
  display: block;
  margin-bottom: 5px;
}

#login_container {
  width: 800px;
  margin: auto;
}
#login_container .old_school {
  border-right:2px dotted #BABABA;
  float:left;
  margin-bottom:20px;
  margin-right:50px;
  margin-top:20px;
  padding-right:50px;
}


#new_item {
  margin-top:67px;
  position:relative;
  float: left;
  width: 100%;
}

#new_item input[type=text]:focus,
#new_item input[type=password]:focus,
#new_item textarea:focus {
  outline: none;
  border-color: #bababa;
}

#new_item .remember {
  font-size: 12px;
}

#new_item .actions,
#new_item .field {
  clear: both;
}

#new_item input[type=text],
#new_item input[type=password],
#new_item select, #new_item textarea {
  background:url("/images/textinputbg.gif") repeat-x scroll 0 0 #FFFFFF;
  border:1px solid #D3D3D3;
  color:#000000;
  font-size:12px;
  margin-bottom:10px;
  padding:7px;
  width:400px;
  float: left;
}

#new_item input[type=text].error,
#new_item input[type=password].error,
#new_item select.error, #new_item textarea.error {
  background:url("/images/textinputbg-error.gif") repeat-x scroll 0 0 #FFDFDF;
  padding:7px;
}

#new_item label.error {
  float: left;
  margin: 10px;
  color: #f00;
}
#new_item #login_container label.error {
  float: none;
  display: block;
}

#new_item input[type=image] {
  margin: 10px 0;
}

#new_item textarea {
  height:200px;
  padding:5px;
  width:400px;
}

#new_item label {
  font-size: 14px;
}

.devise_links {
  margin: 10px 0;
}

.devise_links a {
  font-size: 12px;
}

#footer_a p{
  line-height:1.3;
}

.field label{
  font-weight: bold;
  font-size: 12px !important;
}

.vermelho{
  color: #da3546;
}

.datepicker{
  appendText: '(yyyy-mm-dd)';
}

.event_stat p.name{
  font-size: 14px;
  color: #111111;
  font-weight: bold;
}

.yet{
  font-size: 14px;
  color: #111111;

}

.event_stat p.name spam{
  font-size: 14px;
  color: #da3546;
  font-weight: bold;
}

.proposals_stat{
  position: relative;
  left: 20px;
}

.proposals_stat p.list{
  font-size: 14px;
  color: #111111;
  font-weight: bold;
  margin-bottom: 5px;
}

.prop_stat  p{
  font-size: 12px;
  color: #111111;
}

#composicao {
  font: 9pt Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse: collapse;
}

#composicao caption {
  font-weight: bold;
}

#composicao tfoot tr {
  border: solid 1px #333333;
}

#composicao tfoot td {
  color: #ffffff;
  padding: 5px;
  background: #999999;
}

#composicao tr.alt td {
  background: #CCCCCC;
}

#composicao tbody td,
#composicao th {
  padding: 5px;
  border: solid 1px #333333;
}

#composicao th {
  color: #DCDCDC;
  background: #666666;
}

#event_social{
  left: 80px;
  position:absolute;
  bottom: -50px;
}

#tweeting{
  color: #ffffff;
  padding: 10px;
  font-size: 12px;
  background-color: #111111;
  cursor:pointer;
  right: 40px;
  bottom: 0px;
  height:40px;
  position:fixed;
  width:118px;
  border-color:black;
  clear: both;
}

#tweeting #tw{
  display: inline;
  position: relative;
  top: 7px;
}

#edit_proposal {
  margin-left: 5px;
}

#proposal_notice {
  margin-bottom: 20px;
}

#proposal_notice strong {
  text-decoration: underline;
}

.comment_detail:link, .comment_detail:visited {
  color:#FFFFFF !important;
  font-size:12px;
  font-weight:bold;
}

a.logo_c4p img{
  margin-left:27px;
  margin-top:24px;
  float: left;
}

.actions_com input{
  display:inline-block;
  left:428px;
  position:relative;
  top:6px;
}

.voting_container{
  left:489px;
  position:absolute;
  bottom: 20px;
}

.com_prop{
  display:inline-block;
  left:269px;
  position:absolute;
  bottom: 20px;
  z-index: 10;
}

.twit{
  float: left;
  margin-right: 4px;
  display: inline-block;
}

.percentage  {
  float: right;
  width: 200px;
  border: 1px dotted #bababa;
  background-color: #dedede;
  font-size: 26px;
  font-weight: bold;
  color: white;
  text-align: right;
  margin: 0 0 40px 20px;
}
.percentage .gray {
  background-color: #BABABA;
  height: 100%;
}

.percentage .red {
  background-color: #F00;
}

.percentage .green {
  background-color: #0F0;
}
.percentage span {
  display:block;
  padding: 10px;
}

.count_hint {
  font-size: 12px;
  margin-bottom: 10px;
}

.spinner {
  position: absolute;
  -moz-opacity: 0.8;
  opacity: 0.8;
  height:176px;
  width:581px;
  background-color: white;
  z-index: 50;
  border: 2px solid white;
  display: none;
}
.spinner img {
  position: absolute;
  left: 50%;
  top: 50%;
}

.rr{
  bottom:11px;
  left:41px;
  position:relative;
}

.branco{
  color: #ffffff;
}

#profile p {
  color: #ffffff;
  font-size: 14px;
  position: relative;
  left: 30px;
}

#providers{
  margin-top: 20px;
}

#logged{
  background-color:#f2f2f2;
  color:#212121;
  font-size:14px;
  opacity:0.9;
  padding:7px;
  position:fixed;
  text-align:center;
  top:95px;
  width:943px;
  z-index:99999;
  border: 1px solid #f2f2f2;
}

#crop_original {
  float: left;
  margin-right: 20px;
}

#crop_original img {
  max-width: 700px;
}

#crop_preview_container {
  width: 180px;
  height: 175px;
  overflow: hidden;
}

#crop_preview {
  width: 180px;
  height: 175px;
  position: relative;
}

#crop_previews {
  float: left;
}

form .special {
  display: none;
}

.fb_iframe_widget {
  line-height: 0;
  font-size: 0;
  overflow: hidden;
}