body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background-color: #da3546;
}

.btn-default {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #fff;
}

.content {
  padding-top: 70px;
  padding-bottom: 50px;
}

.content p {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .content {
    padding-top: 140px;
    padding-bottom: 100px;
  }
}
