<p>Welcome <%= @email %>!</p>

<p>Your registration in Call4Paperz is almost done!<p>

<p>You just need to confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
