<div id="new_item">
  <div id="new_item_container">
    <%= image_tag 'create_event_label.png' %>
    <h3>Register your event call for papers.</h3>

    <%= render 'form' %>

    <%# <%= link_to 'Return', events_path %>
  </div>
</div>
