development:
  adapter: postgresql
  database: call4paperz_development
  username: postgres
  password:
  host: <%= ENV.fetch('DB_HOST', 'localhost') %>
  min_messages: WARNING
test:
  adapter: postgresql
  database: call4paperz_test
  username: postgres
  password:
  host: <%= ENV.fetch('DB_HOST', 'localhost') %>
  min_messages: WARNING
