<div id="new_item">
  <div id="new_item_container">
    <%= image_tag 'add_proposal_label.png' %>
    <p class="sub_add_prop">Submit your proposal for this event.</p>
    <br/>

    <%= render 'form' %>

    <p id="proposal_notice"><strong>Please note</strong> that, after creating your proposal, you have 30 minutes to make changes. After that, you will not be able to modify it.</p>
  </div>
</div>
