@import "constants";

@import url('https://fonts.googleapis.com/css?family=Roboto');

#events-show {
  div, span, header, section, footer {
    box-sizing: border-box;
  }

  #main-section {
    display: flex;

    #event-details {
      width: 40%;
      background-color: #fff;
    }

    #event-proposals {
      width: 60%;
      padding: 1em;
    }
  }

  #event-proposals {
    height: 100%;
    overflow: auto;

    h2 {
      font-size: 2em;
    }

    #proposals-header {
      display: flex;
    }
  }

  #main-section header {
    border-top: 1px solid rgba(255,255,255,.1);
    font-family: 'Roboto', sans-serif;

    #event-main-info {
      padding: .5em 1em;

      #event-title {
        font-size: 3em;
        line-height: 1.4em;
      }

      #event-date {
        color: #999;
        font-weight: bold;

        i {
          margin: 0 .5em 0 0;
        }
      }

      #event-social {
        margin: 1em 0 0;
      }
    }

    #event-metadata {
      background: #eee;
      border-top: 1px solid rgba(255,255,255,.3);
      padding: .5em 0;
      color: #999;
      display: flex;
      justify-content: space-between;
      font-size: .8em;

      #event-info {
        margin: 0 1em;

        span {
          margin: 0 1em 0 0;

          .fa {
            margin: 0 .5em 0 0;
          }
        }
      }

      #event-organizer {
        margin: 0 1em;

        img {
          vertical-align: middle;
        }
      }
    }
  }

  section {
    #event-description {
      font-size: 1.2em;
      line-height: 1.1em;
      color: #666;
      padding: 1em;
      background: #fff;

      h1, h2, h3, h4, h5 {
        color: #333;
        font-weight: bold;
        margin: .5em 0;
      }

      h1 {
        font-size: 2em;
      }

      h2 {
        font-size: 1.8em;
      }

      h3 {
        font-size: 1.6em;
      }

      h4 {
        font-size: 1.4em;
      }

      h5 {
        font-size: 1.2em;
      }
    }
  }

  #proposals-list {
    .proposal-item {
      margin: 2em 0;

      header {
        h3 {
          font-size: 2em;
          border-bottom: 1px dotted #999;
          padding: 0 0 .2em;
          margin: 0 0 .3em;
        }
      }

      .proposal-metadata {
        display: flex;
        justify-content: space-between;
        margin: 1em 0 0;

        .proposal-author, .proposal-comments, .proposal-voting {
          align-self: center;
        }

        .proposal-author {
          img {
            vertical-align: middle;
          }
        }
      }

      .proposal-voting {
        display: flex;
        justify-content: space-between;
        margin: 1px 0 0;

        .voting-controls {
          button {
            font-size: 1.4em;
            cursor: pointer;
            width: 5em;
            line-height: 2em;
            border: 0;
            margin: 0 1px 0 0;
          }
        }

        .total-votes {
          font-size: 2.2em;
        }
      }
    }
  }
}
