@import "constants";

@import url('https://fonts.googleapis.com/css?family=Roboto');

.button {
  &.lighter {
    background: #fff;
    border: 1px solid #b9b9b9;
    display: block;
    line-height: 1.6em;
    padding: .7em;
    box-sizing: border-box;
    color: #555;

    &:hover {
      text-decoration: none;
      color: #999;
      border: 1px solid #dadada;
    }

    i {
      margin: 0 .5em 0 0;
    }
  }
}

#events-show {
  div, span, header, section, footer {
    box-sizing: border-box;
  }

  #main-section {
    display: flex;
    width: calc(100vw - 10em);
    background: $bg-grey;

    #event-details {
      width: 50%;
      background-color: #fff;
      box-shadow: 0 0 1em rgba(0,0,0,.3);
      z-index: 1;
    }

    #event-proposals {
      width: 50%;
      padding: 1em 1em 1em 0;
      z-index: 0;
    }
  }

  #event-proposals {
    height: 100%;
    overflow: auto;

    h2 {
      font-size: 2em;
    }

    #proposals-header {
      display: flex;
      justify-content: space-between;
      margin: 1em 0 1em 1em;
    }
  }

  #main-section header {
    border-top: 1px solid rgba(255,255,255,.1);
    font-family: 'Roboto', sans-serif;

    #event-header {
      display: flex;
      padding: .5em;
    }

    #event-picture {
      background: rgba(0,0,0,.5);
      color: #fff;

      img {
        display: block;
      }

      &:hover {
        img {
          opacity: .2;
        }
      }

      &::before {
        content: "Change image";
      }
    }

    #event-main-info {
      padding: .5em 1em;

      #event-title {
        font-size: 2.2em;
        line-height: 1.4em;
      }

      #event-date {
        color: #666;

        i {
          margin: 0 .5em 0 0;
        }
      }

      #event-social {
        margin: 1em 0 0;
      }
    }

    #event-admin-nav {
      font-size: .8em;
      background: #f3f3f3;
      border-bottom: 1px solid #fff;
      padding: .5em;
      display: flex;

      a {
        padding: 0 .7em;
        display: block;

        &:last-child {
          border-right: 0;
        }
      }
    }

    #event-metadata {
      display: flex;
      justify-content: space-between;
      background: #eee;
      border-top: 1px solid rgba(255,255,255,.3);
      padding: .5em 1em;
      color: #999;
      font-size: .8em;

      #event-info {
        span {
          margin: 0 1em 0 0;

          .fa {
            margin: 0 .5em 0 0;
          }
        }
      }

      #event-organizer {
        img {
          vertical-align: middle;
        }
      }
    }

    #event-speakers {
      padding: .5em .7em;
      color: #666;
      border-bottom: 1px solid #eee;

      h3 {
        font-size: 1.4em;
        margin: .5em 0;
      }

      ul {
        overflow: auto;

        li {
          float: left;
          width: 50%;
        }
      }
    }
  }

  section {
    #event-description {
      font-size: 1.2em;
      line-height: 1.1em;
      color: #666;
      padding: .5em;
      background: #fff;

      h1, h2, h3, h4, h5 {
        color: #333;
        margin: .5em 0;
      }

      h1 {
        font-size: 2em;
      }

      h2 {
        font-size: 1.8em;
      }

      h3 {
        font-size: 1.6em;
      }

      h4 {
        font-size: 1.4em;
      }

      h5 {
        font-size: 1.2em;
      }
    }
  }

  #proposals-list {
    .proposal-item {
      margin: 0 0 1em;
      background: #fff;
      border-top: 1px solid rgba(0,0,0,0.1);
      border-right: 1px solid rgba(0,0,0,0.1);
      border-bottom: 1px solid rgba(0,0,0,0.1);
      padding: 1em;

      header {
        h3 {
          font-size: 2em;
          border-bottom: 1px dotted #999;
          padding: 0 0 .2em;
          margin: 0 0 .3em;
        }
      }

      .proposal-metadata {
        display: flex;
        justify-content: space-between;
        margin: 1em 0 0;

        .proposal-author, .proposal-comments, .proposal-voting {
          align-self: center;
        }

        .proposal-author {
          img {
            vertical-align: middle;
          }
        }
      }

      .proposal-voting {
        display: flex;
        justify-content: space-between;
        margin: 1px 0 0;

        .voting-controls {
          button {
            font-size: 1.4em;
            cursor: pointer;
            width: 5em;
            line-height: 2em;
            border: 0;
            margin: 0 1px 0 0;
          }
        }

        .total-votes {
          font-size: 2.2em;
        }
      }
    }
  }
}
