@import "constants";

.button {
  cursor: pointer;
  display: block;
  line-height: 1.6em;
  padding: .7em;
  box-sizing: border-box;

  &:hover {
    text-decoration: none;
  }

  i {
    margin: 0 .5em 0 0;
  }

  &.lighter {
    background: #fff;
    border: 1px solid #b9b9b9;
    color: #555;

    &:hover {
      color: #999;
      border: 1px solid #dadada;
    }
  }

  &.darker {
    background: #333;
    border: 1px solid #000;
    color: #eee;

    &:hover {
      color: #fff;
      border: 1px solid #333;
    }
  }
}
