@import "constants";

.btn-active {
  font-size: 18px;;
  display: inline-block;
  border-radius: 5px;
  color: white;
  background-color: lighten($color-primary, 10%);
  padding: 5px 10px;
  margin: 20px 0;

  &:hover, &:active {
    text-decoration: none;
    color: white;
    background-color: lighten($color-primary, 11%);
  }
}
