<section id="googleads"><%= render 'layouts/googleads' %></section>

<div id="copyright">
  <p>Copyright © 2010 &mdash; <%= Date.today.year %>. Powered by <strong>acts_as_monkeys_on_steroids</strong>, Developed in <strong>Rails Rumble 2010</strong>.</p>
</div>
